<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="content">
      <h1>Upload your files to the AWS S3 Bucket</h1>
      <div>
        <h3>Upload your file here:</h3>
        <form method="POST" action="/upload" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit" value="Upload">
        </form>
      </div>
    </div>
    <img src="https://click10.s3.sa-east-1.amazonaws.com/uploads/55b23419798227a6dfa73ec17539f96e0bb084d1.jpg" alt="No se carga la imagen">
  </body>
</html>