<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>click10 - Recordar contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    
</head>
<body>
    <div class="container">
        <div class="panelInicial">
            <div class="imagenInicio">
                <img src="{{ url_for('static', filename='img/nombreSistema.png') }}" width="450" height="150" alt="No se pudo cargar">
                <br>
                <img src="{{ url_for('static', filename='img/fotoInicio.png') }}" width="500" height="350" alt="No se pudo cargar">
            </div>
        
            <div class="datosInicio">
                <form>
                
                    <label>Email</label>
                    <input type="email" placeholder="Ingrese su correo electrónico">
                    
                  
                    <input type="submit" value="Recordar contrasena">

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <a href="/Templates/pantallaInicio.html">Inicia sesión aquí</a>

                </form>
            </div>
            
        </div>
    </div>